<div class="player__card"
     [ngClass]="getCardClasses()">
  <img class="player__avatar"
       src="./assets/images/avatars/64_{{avatarId}}.png" />
  <div class="player__name mat-body-strong"
       [ngClass]="getNameClasses()">
    {{ playerName }}
  </div>
</div>

<div *ngIf="!hideWinsCounter"
     class="player-wins-counter"
     [ngClass]="{'player-wins-counter--right': alignRight}">
  <ng-container *ngIf="wins.length <= 5; else compactCounter">
    <mat-icon class="player-wins-counter__star"
              *ngFor="let item of wins; let i = index">star</mat-icon>
  </ng-container>
  <ng-template #compactCounter>
    {{ playerWins }} <mat-icon class="player-wins-counter__star">star</mat-icon>
  </ng-template>
</div>
