/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
        "header header header"
        "left main right"
        "footer footer footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.main__board {
    display: flex;
    justify-content: center;
    background-color: #204f84;
}

.main__column {    
    cursor: pointer;
}

.main__column:hover {
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.4);
}

.main__cell {
    border: 3px solid #007fff;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    max-width: 60px;
    max-height: 60px;
    margin: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active-r {
        background-color: red;
    }
    &--active-y {
        background-color: yellow;
    }
}