/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main__board {
    display: flex;
    background-color: #204f84;
    justify-content: center;
}

.main__tokens-container {
    display: flex;
    justify-content: center;
}

.main__token {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    max-width: 60px;
    max-height: 60px;
    margin: 5px;
    background-color: lightgray;
}

.main__token-r:hover {
    background-color: red;
}

.main__token-y:hover {
    background-color: yellow;
}

.main__column:hover {
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.4);
}

.main__cell {
    border: 3px solid #007fff;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    max-width: 60px;
    max-height: 60px;
    margin: 5px;
    background-color: white;

    &--active-r {
        background-color: red;
    }
    &--active-y {
        background-color: yellow;
    }
}

.label-red-player {
    color: red;
    font-weight: 500;
}
.label-yellow-player {
    color: yellow;
    font-weight: 500;
}