<mat-toolbar class="header"
             color="primary">
  <mat-toolbar-row>
    <h1>Puissance 4</h1>
    <span class="header__spacer"></span>
    <mat-icon *ngIf="isDarkTheme | async"
              class="header__icon"
              matTooltip="Activer le thème clair"
              (click)="toggleDarkTheme(false)">wb_sunny</mat-icon>
    <mat-icon *ngIf="!(isDarkTheme | async)"
              class="header__icon"
              matTooltip="Activer le thème sombre"
              (click)="toggleDarkTheme(true)">brightness_3</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
