<h1 mat-dialog-title>Nouvelle partie</h1>

<form [formGroup]="gameSettingsForm"
      (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <div class="player-section">
      <mat-form-field>
        <input matInput
               #redPlayerName
               placeholder="Nom du joueur Rouge"
               formControlName="redPlayerName"
               maxlength="10"
               required />
        <mat-hint>{{ redPlayerName.value.length }} / 10</mat-hint>
      </mat-form-field>
      <img class="player-section__avatar"
           matTooltip="Avatar"
           [src]="getAvatarImagePath('redPlayerAvatar')"
           (click)="openAvatarSelectionDialog('redPlayerAvatar')" />
      <input type="hidden"
             formControlName="redPlayerAvatar" />
    </div>

    <div class="player-section">
      <mat-form-field>
        <input matInput
               #yellowPlayerName
               placeholder="Nom du joueur Jaune"
               formControlName="yellowPlayerName"
               maxlength="10"
               required />
        <mat-hint>{{ yellowPlayerName.value.length }} / 10</mat-hint>
      </mat-form-field>
      <img class="player-section__avatar"
           matTooltip="Avatar"
           [src]="getAvatarImagePath('yellowPlayerAvatar')"
           (click)="openAvatarSelectionDialog('yellowPlayerAvatar')" />
      <input type="hidden"
             formControlName="yellowPlayerAvatar" />
    </div>

    <mat-form-field>
      <input matInput
             type="number"
             min="1"
             max="30"
             placeholder="Nombre de victoires"
             formControlName="numberOfWins"
             required />
      <mat-hint>1 - 30</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button *ngIf="!params.firstGame"
            mat-button
            color="primary"
            mat-dialog-close>ANNULER</button>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!gameSettingsForm.valid">JOUER</button>
  </mat-dialog-actions>

</form>
