<h1 mat-dialog-title>Nouvelle partie</h1>
<form [formGroup]="gameSettingsForm"
      (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput
             placeholder="Nom du joueur Rouge"
             formControlName="redPlayerName"
             maxlength="10"
             required>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Nom du joueur Jaune"
             formControlName="yellowPlayerName"
             maxlength="10"
             required>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!gameSettingsForm.valid">Jouer !</button>
  </mat-dialog-actions>
</form>
