<h1 mat-dialog-title>New game</h1>
<form [formGroup]="gameSettingsForm"
      (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput
             placeholder="Player 1 name"
             formControlName="player1Name"
             required>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Player 2 name"
             formControlName="player2Name"
             required>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!gameSettingsForm.valid">Play !</button>
  </mat-dialog-actions>
</form>
