<header class="header">
  Logo
</header>

<nav class="nav">
  Menu
</nav>

<main class="main">
  <div class="main__active-player">{{activePlayer}}</div>
  <div class="main__board">
    <div *ngFor="let col of board; let colIndex = index">
      <div class="main__cell"
      [ngClass]="{ 'main__cell--active-r': row === 'r', 'main__cell--active-y': row === 'y'}"
        *ngFor="let row of col; let rowIndex = index"
        (click)="addToken(colIndex)">
          {{colIndex}} {{rowIndex}}
      </div>
    </div>
  </div>
</main>

<aside class="sidebar">
  Sidebar
</aside>

<footer class="footer box">
  Footer
</footer>