<header class="header">
  Logo
</header>

<nav class="nav">
  Menu
</nav>

<main class="main">
  <div class="main__active-player">
    Player's turn :
    <span class="label-red-player" *ngIf="activePlayer === RED_PLAYER">Red</span>
    <span class="label-yellow-player" *ngIf="activePlayer === YELLOW_PLAYER">Yellow</span>
  </div>

  <div *ngIf="gameStopped">
    {{winMessage}}
  </div>

  <div class="main__board">
    <div class="main__column" *ngFor="let col of board; let colIndex = index" (click)="addToken(colIndex)">
      <div class="main__cell" [ngClass]="{ 'main__cell--active-r': row === 'r', 'main__cell--active-y': row === 'y'}"
        *ngFor="let row of col; let rowIndex = index">
        {{colIndex}} {{rowIndex}}
      </div>
    </div>
  </div>
  <button mat-button (click)="reset()">Reset</button>
</main>

<aside class="sidebar">
  Sidebar
</aside>

<footer class="footer box">
  Footer
</footer>