.game-over-content {
  text-align: center;
}

.game-over-content__winner {
  padding-bottom: 20px;
}

.game-over-content__results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
