.information-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
}

.information-panel__button-new-game {
  display: none !important;
}

.information-panel__button-new-round {
  display: none !important;
}

@media all and (min-width: 640px) {
  .information-panel__button-new-game {
    display: inherit !important;
  }

  .information-panel__button-new-round {
    display: inherit !important;
  }

  .information-panel__button-new-game--small {
    display: none !important;
  }

  .information-panel__button-new-round--small {
    display: none !important;
  }
}
