.player__card {
  display: flex;
  align-items: center;
  transition: filter 0.5s linear;

  &--right {
    flex-direction: row-reverse;
  }

  &--inactive {
    filter: grayscale(1);
    color: lightgray;
  }

  &--vertical {
    flex-direction: column;
  }
}

.player__avatar {
  z-index: 1;
  width: 15vw;
  height: auto;
  max-width: 64px;
  max-height: 64px;
}

.player__name {
  margin: 0 8px;

  &--red {
    border-bottom: 3px solid $redPlayer;
  }

  &--yellow {
    border-bottom: 3px solid $yellowPlayer;
  }
}

.player-wins-counter {
  display: flex;
  align-items: center;
  height: 24px;

  &--right {
    flex-direction: row-reverse;
  }

  &__star {
    color: #FFA000;
  }
}
