<section class="players-bar">
  <app-player-card [playerType]="'red'"
                   [playerName]="(gameSettings$ | async).redPlayerName"
                   [avatarId]="(gameSettings$ | async).redPlayerAvatarId"
                   [isActive]="isRedPlayerActive"></app-player-card>

  <app-player-card [playerType]="'yellow'"
                   [playerName]="(gameSettings$ | async).yellowPlayerName"
                   [avatarId]="(gameSettings$ | async).yellowPlayerAvatarId"
                   [alignRight]="true"
                   [isActive]="isYellowPlayerActive"></app-player-card>
</section>
