<section class="information-panel">
  <button class="information-panel__button-new"
          mat-stroked-button
          color="primary"
          (click)="newGame()">NOUVELLE PARTIE</button>
  <button mat-icon-button
          class="information-panel__button-new--small"
          color="primary"
          matTooltip="Nouvelle partie"
          (click)="newGame()">
    <mat-icon>add_circle</mat-icon>
  </button>

  <div *ngIf="!activePlayerName">En attente de joueurs...</div>
  <div *ngIf="activePlayerName && !(game$ |async).gameStopped">
    Tour de <span class="information-panel__active-player">{{ activePlayerName }}</span>
  </div>
  <div *ngIf="(game$ |async).gameStopped">
    <span *ngIf="(game$ |async).draw">Match nul...</span>
    <span *ngIf="!(game$ |async).draw">{{ activePlayerName }} a gagné !</span>
  </div>

  <button class="information-panel__button-restart"
          mat-stroked-button
          color="warn"
          (click)="restart()">REJOUER</button>
  <button mat-icon-button
          class="information-panel__button-restart--small"
          color="warn"
          matTooltip="Rejouer"
          (click)="restart()">
    <mat-icon>replay</mat-icon>
  </button>
</section>
