<section class="information-panel">
  <div *ngIf="!activePlayerName">En attente de joueurs...</div>
  <div *ngIf="activePlayerName && !(game$ |async).gameStopped">
    Tour de <span class="information-panel__active-player">{{ activePlayerName }}</span>
  </div>
  <div *ngIf="(game$ |async).gameStopped">
    <span *ngIf="(game$ |async).draw">Match nul...</span>
    <span *ngIf="!(game$ |async).draw">{{ activePlayerName }} a gagné !</span>
  </div>
  <button mat-stroked-button
          color="warn"
          (click)="restart()">REJOUER</button>
</section>
