<section class="information-panel">
  <button class="information-panel__button-new-game"
          mat-stroked-button
          color="primary"
          (click)="newGame()">NOUVELLE PARTIE</button>
  <button mat-icon-button
          class="information-panel__button-new-game--small"
          color="primary"
          matTooltip="Nouvelle partie"
          (click)="newGame()">
    <mat-icon>fiber_new</mat-icon>
  </button>

  <div *ngIf="!(game$ | async).activePlayer"
       @informationInAnimation>
    En attente de joueurs...
  </div>
  <div *ngIf="(game$ | async).activePlayer && !(game$ | async).gameStopped"
       @informationInAnimation>
    Tour de {{ (game$ | async).activePlayer.name }}
  </div>
  <div *ngIf="(game$ | async).gameStopped && !(game$ | async).gameOver"
       @informationInAnimation>
    {{ (game$ | async).draw ? 'Match nul...' : (game$ | async).activePlayer.name + ' a gagné !' }}
  </div>
  <div *ngIf="(game$ | async).gameOver"
       @informationInAnimation>
    {{ (game$ | async).activePlayer.name  + ' remporte la partie !' }}
  </div>

  <ng-container *ngIf="(game$ |async).gameStopped">
    <button class="information-panel__button-new-round"
            @buttonInAnimation
            mat-stroked-button
            color="primary"
            [disabled]="(game$ | async).gameOver"
            (click)="startRound()">TOUR SUIVANT</button>
    <button mat-icon-button
            class="information-panel__button-new-round--small"
            @buttonInAnimation
            color="primary"
            matTooltip="Tour suivant"
            [disabled]="(game$ | async).gameOver"
            (click)="startRound()">
      <mat-icon>forward</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="!(game$ |async).gameStopped">
    <button class="information-panel__button-new-round"
            mat-stroked-button
            color="warn"
            (click)="startRound()">REJOUER LE TOUR</button>
    <button mat-icon-button
            class="information-panel__button-new-round--small"
            color="warn"
            matTooltip="Rejouer le tour"
            (click)="startRound()">
      <mat-icon>replay</mat-icon>
    </button>
  </ng-container>

</section>
