.board {
  fill: #002ae0;
}

.board__column {
  fill-opacity: 0;
  cursor: pointer;
}

.board__cell {
  stroke: blue;
  stroke-width: 6;
  cursor: pointer;
  pointer-events: none;

  $background: map-get($theme, background);
  $background-color: mat-color($background, background);
  fill: $background-color;
}

.board__cell--winning {
  stroke: greenyellow;
  stroke-width: 8;
}

.board__token {
  stroke-width: 6;

  &--red {
    fill: $redPlayer;
    stroke: darken($redPlayer, 30%);
  }

  &--yellow {
    fill: $yellowPlayer;
    stroke: darken($yellowPlayer, 30%);
  }
}
